body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.site-navigation {
  font-weight: bold;
  line-height: 26px;
  list-style: none;

  background-color: #ffffff;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:visited {
  color: #766357
}

.features {
  text-align: center;
  background-color: #ffffff;
  background-image: url("img/shaped-background.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list {
  list-style: none;
}

.features h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.features p {
  line-height: 26px;
}

.feature-item {
  text-align: center;

  background-color: #eeeeee;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.extended {
  background-color: #81b3d2;
}

.extended h3,
.extended span,
.extended p {
  color: #ffffff;
}

.recommendations {
  text-align: center;
}

.recommendations-list {
  list-style: none;
}

.recommendation-item h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.search-info {
  line-height: 24px;
}

.button {
  font: inherit;

  text-align: center;
  vertical-align: middle;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.modal-search {
  background-color: #ffffff;
}

.search-item input {
  font: inherit;

  color: #81b3d2;
  font-weight: bold;
  background-color: #f2f2f2;
}

.search-item input:hover {
  color: #000000;
  background-color: #ebebeb;
}

.search-item input:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal-search a {
  font: inherit;

  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}

.modal-search a {
  font: inherit;

  text-align: center;
  vertical-align: middle;

  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.modal-search a:hover {
  background-color: #669ec0;
}

.modal-search a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.footer-socias {
  text-align: center;
}

.footer-socials ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright span {
  line-height: 26px;
  color: #000000;
}

.filters {
  background-image: url("img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #3c6487;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-option {
  color: #ffffff;
}

.filter-button {
  font: inherit;

  text-align: center;
  vertical-align: middle;

  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.sorting-options,
.sorting-directions {
  list-style: none;
}

.search-result-number {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-button {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3)
}

.sorting-button:hover {
  color: #81b3d2;
}

.sorting-button:active {
  color: #000000;
}

.sorting-button-current {
  color: #81b3d2;
}

.sorting-button-current:hover,
.sorting-button-current:active {
  color: #81b3d2;
}

.catalog ul {
  list-style: none;
}

.item-name a {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.item-name a:hover {
  color: #81b3d2;
}

.item-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.details-and-booking a {
    font: inherit;

    text-align: center;
    vertical-align: middle;

    font-weight: bold;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
  }

  .details-and-booking a:hover {
    background-color: #669ec0;
  }

  .details-and-booking a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  .main-footer {
    background-color: rgba(254, 254, 254, 0.9);
  }

  .details-and-booking button {
    font: inherit;

    text-align: center;
    vertical-align: middle;

    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
    border: none;
  }

  .details-and-booking button:hover,
  .details-and-booking button:focus {
    background-color: #604e43;
  }

  .details-and-booking button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
  }

  .item-rating span {
    color: #666666;
    background-color: #f2f2f2;
  }
